body {
    margin: 0%;
  }
  header {
    width: 100%;
    height: 100px;
    padding: 10px;
    padding-left: 10px;
    background-color: #202124;
  }
  .gog {
    padding-left: 42px;
    padding-top: 20px;
    height: 0px;
    width: 10px;
  }
  .logo {
    height: 30px;
    width: 92px;
  }
  .glt{
    padding-top: 10px;
    margin-top: 1px;
  }
  .searchbar {
    display: flex;
    height: 38px;
   
    
    background:#303134;
    width: 1000px;
    margin-left: 186px;
    border-radius: 25px;
    padding: 3px;
    margin-top: -6px; 
  }
  .type {
    
    height: 10px;
    width: 969px;
    margin: 5px;
    padding: 8px;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    border: none;
    font-size: medium;
    border-color: transparent;
    background-color: transparent;
    outline: none;
  }
  .bt1{
    border-radius: 25px;
    border-color:transparent;
  
    cursor: pointer;
    opacity: 0.7;
    overflow: hidden;
    width: 50px;
    height: 39px;
    padding: 0;
    margin: 0; 
    background-color: transparent;
    
  }
  .searchicon{
    width: 21px;
    margin: 7px;
  
  }